*{
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/*-------------------------header1----------------*/
#header1{
    width: 100%;
    border-top: 1em solid #1A1A1A;
    border-bottom: 1.5em solid #1A1A1A;
    margin-top: 10px;
}

#header1 .f_logo{
    width: 95%;
    border-top: 0.4em solid #8CC63F;
    border-bottom: 0.4em solid #8CC63F;
    margin-left: auto;
    margin-right: auto;
}

#header1 .f_logo img{
    width: 90%;
    padding: 1em 0.3em 0.3em 0.8em; 
}

/*---------------------nav principal----------------*/
#nav_mp{
    width: 100%;
} 

#nav_mp .f_rsc{
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 2px;
}

#nav_mp .f_rsc .div_rsc{
    width: 185px;
    margin: auto; 
}

#nav_mp .f_rsc .div_rsc img{
    width: 40px;
    margin: 0.1em;
}

/*--------------------section1 aticle1--------------------*/
#sec1 .art1 .div_prod{
    background-color: #1A1A1A;
    border-bottom: 0.3em solid white;
}

#sec1 .art1 h2{
    font-family: Myriad Pro;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10%; 
    margin-bottom: -3px;  
}

/*------------------imagenes de productos------------------------*/
#sec1 .art1 .f_pro{
    width: 95%;
    border: 0.2em dashed white;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 1%;
    padding: 0.2em;
}

#sec1 .art1 .f_pro .div_h0{
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

#sec1 .art1 .f_pro .div_h0 img{
    width: 100%;
    border: 0.3em solid #8CC63F;
    border-radius: 20px;
}

#sec1 .art1 .f_pro img{
    border: 0.3em solid #8CC63F;
    border-radius: 20px;
    width:25%;
    padding: 1em;
    margin: 5px 0 0 2em;
}

